input.form-control {
    font-size: 24px;
    height: auto;
}

.form-group button {
    font-size: 24px;
    height: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fewHitsWarning {
    background-color: #fed136;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.catalogues-list {
    padding-inline-start: 10px;
}

.btn-primary {
    color: black;
    font-weight: 500;
    text-transform: none;
}

header .intro-text {
    padding-top: 220px;
    padding-bottom: 220px;
}

.rh-background {
    background: rgba(34, 34, 34, 0.9);
    padding-top: 1.5em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}

.rh-background h1 {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
}