input.form-control {
    font-size: 24px;
    height: auto;
}

.form-group button {
    font-size: 24px;
    height: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}